.pokemon{
  background-color: rgb(234, 234, 248);
  border-radius: 10px;
  border-style: solid;
  width: 300px;
  display: flex;
  margin: 1px;
}
.flex-column{
  flex-direction: column;
}
.flex-column p{
  margin-top: 7px;
  margin-bottom: 7px;
}
main div{
  display: flex;
  flex-wrap: wrap;
}